@media screen and (max-width: 639px) {
    .cursor {
        display: none !important;
    }

    .fordesktop {
        display: none;
    }

    .formobile {
        display: block;
    }

    .topnav .menu-icon .icon i {
        background-color: #333;
    }

    .topnav {
        background-color: #fff;
        padding: 20px 0;
    }

    .hamenu .menu-links .main-menu>li .link .fill-text:after {
        color: #333;
    }

    .hamenu {
        background-color: white;
    }

    .topnav .menu-icon.open .icon {
        width: 20px;
        margin: 0;
        top: 12px;
    }

    .section-padding {
        padding: 30px 0 !important;
    }

    .portfolio-fixed .right {
        padding: 40px 15px 120px;
    }

    .services .sec-lg-head {
        margin-bottom: 40px !important;
    }

    .services .item-bord2 {
        margin-bottom: 25px !important;
    }

    .services .col-lg-4:last-child .item-bord2 {
        margin-bottom: 0 !important;
    }

    .services .item-bord2 {
        padding: 20px;
    }


    .services .item-bord2 .icon-img-60 {
        margin-bottom: 20px !important;
    }

    .services .item-bord2 h6 {
        margin-bottom: 20px !important;
    }

    .intro-corp .col-lg-6.md-mb50 {
        margin-bottom: 10px !important;
    }

    .work-carsouel.section-padding .sec-lg-head.mb-80 {
        margin-bottom: 30px !important;

    }

    .navbar.navbar-expand-lg .logo {
        max-width: 120px !important;
        margin-left: 15px !important;
    }

    .navbar .navbar-nav .nav-link .rolling-text .block:last-child {
        display: none;
    }

    .navbar .navbar-nav .nav-link .rolling-text {
        height: auto !important;
        line-height: normal !important;
    }

    .navbar .navbar-nav .nav-link {
        padding: 10px 15px 0px !important;
    }

    header.full-height {
        min-height: inherit !important;
    }

    .approach-carso .sec-lg-head.mb-80,
    .numbers .sec-lg-head.mb-80 {
        margin-bottom: 20px !important;
    }

    .numbers.section-padding .justify-content-around {
        justify-content: center !important;
    }

    .numbers.section-padding .col-lg-4:last-child .item.sm-mb50 {
        margin-bottom: 0 !important;
    }

    footer .call-box .arrow svg {
        width: 40px !important;
        height: 40px !important;
    }

    .footer-container .pb-80 {
        padding-bottom: 30px !important;
    }

    .footer-container .pt-80 {
        padding-top: 30px !important;
    }

    .footer-container .call-box.text-center.mb-80 {
        margin-bottom: 30px !important;
    }

    .footer-container .tit.mb-20,
    .footer-container1 .tit.mb-20 {
        margin-bottom: 0 !important;
    }

    .footer-container .colum.md-mb50,
    .footer-container1 .colum.md-mb50 {
        margin-bottom: 20px !important;
    }

    .footer-container .col-lg-3.md-mb50,
    .footer-container1 .col-lg-3.md-mb50 {
        margin-bottom: 0 !important;
    }

    .copyright.d-flex {
        justify-content: center !important;
    }

    .copyright.d-flex .ml-auto {
        margin-top: 0 !important;
    }

    .page-header.section-padding {
        min-height: auto;
        padding-bottom: 30px !important;
    }

    .team-crev.section-padding.bord-thin-bottom .col-12 {
        padding: 10px 25px;
    }

    .team-crev .swiper-slide .item .info {
        opacity: 1 !important;
        visibility: visible !important;
    }

    .navbar-nav {
        position: absolute;
        left: 0;
        right: 0;
        background-color: white;
    }

    .portfolio-fixed .cont {
        opacity: 1 !important;
        margin-bottom: 0;
        padding: 30px 15px 0;
    }

    .page-header.section-padding .mt-80 {
        margin-top: 0 !important;
    }

    .portfolio-fixed .cont {
        opacity: 1 !important;
        margin-bottom: 0 !important;
        padding: 30px 15px 0 !important;
    }

    .portfolio-fixed h2,
    .portfolio-fixed p {
        margin-bottom: 20px !important;
    }

    .portfolio-fixed .right {
        padding: 0 15px 30px !important;
    }

    footer.pt-80 {
        padding-top: 0 !important;
    }

    .navbar .navbar-toggler {
        margin-right: 15px !important;
    }

    .page-header.section-padding.pb-0 .text.mt-30 {
        margin-top: 0 !important;
    }

    .col-lg-3.valign.justify-end {
        display: none;
    }

    .footer-container1 .container.pb-80.pt-80 {
        padding: 30px 15px !important;
    }

    .contact-crev.section-padding.custom-height .col-lg-10.m-auto.text-center {
        text-align: left !important;
    }

    .contact-crev.section-padding.custom-height .dot-titl-non.mb-10 {
        display: none !important;
    }

    .custom-height {
        height: calc(100vh - 521px);
        display: flex;
        align-items: center;
    }

    .navbar-toggler.open .icon-bar {
        background-color: #ffd57b !important;
    }

    .navbar .navbar-nav .nav-link {
        /* color: #ffd57b !important; */
        color: #fff !important;
        border-bottom: none !important;
    }

    .contact-crev .socialicons {
        border-radius: 30px !important;
        border: 1px solid rgba(255, 255, 255, 0.5);
        width: 150px !important;
        /* display: inline-block !important; */
        margin: 30px 0 0 !important;
        padding: 5px !important;
    }

    .contact-crev .socialicons .mr-30 {
        margin-right: 15px !important;
    }


    .navbar .navbar-toggler {
        font-size: 20px;
        border-radius: 0;
        padding: 0;
        margin-right: 30px;
        position: relative !important;
        z-index: 100 !important;
    }

    .navbar .navbar-collapse {
        margin-top: 0 !important;
    }

    .navbar-nav {
        position: fixed !important;
        left: auto;
        right: -100%;
        background-color: #181818;
        bottom: 0 !important;
        top: 0 !important;
        /* height: 100%; */
        z-index: 10 !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        transition: all 0.3s ease-in-out;
        width: 100%;
    }

    .navbar .navbar-nav .nav-link {
        font-size: 17px !important;
        font-weight: 600 !important;
    }

    .navbar-collapse.show .navbar-nav {
        right: 0%;

    }

    .collapse:not(.show) {
        display: block !important;
    }

    .navbar-toggler {
        border: none;
        background-color: transparent;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .icon-bar {
        display: block;
        width: 25px;
        height: 2px;
        margin-bottom: 4px;
        position: relative;
        background-color: #333;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .navbar-toggler.open .icon-bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 0.7px);
    }

    .navbar-toggler.open .icon-bar:nth-child(2) {
        transform: rotate(-45deg) translate(4px, 0.6px);
    }

    .navbar-toggler.open .icon-bar:nth-child(3) {
        opacity: 0;
    }

    /* Initially */
    .navbar-toggler:not(.open) .icon-bar:nth-child(2) {
        width: 20px;
    }

    .header-digital .half-img-right {
        top: auto !important;
        left: 0 !important;
        background-position: center bottom !important;
        background-size: 100% !important;
        display: block;
        bottom: 0;
    }

    .header-digital .half-img-right {
        position: static !important;
        height: 310px !important;
        background-position: center top !important;
        background-size: 90% !important;
        pointer-events: none;
    }

    header.full-height {
        min-height: inherit !important;
        padding: 50px 0 !important;
        flex-direction: column-reverse;
        gap: 30px;
    }

    .intro-corp .imgs .img1 {
        width: 75% !important;
    }

    .testim-vrt .cont {
        padding: 30px 0 !important;
    }

    .approach-carso .swiper-slide {
        padding: 50px 30px !important;
        border-radius: 5% !important;
    }
}